/* Brody Marchiniak */

html{
	background-color: lightgray;
	text-align: center;
}

h1 {
	font-weight: bold;
	color: yellow;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	border-right: 1px solid black;
	padding: 5px;
}

.even {
	background-color: lightsteelblue;
}

.odd {
	background-color: lightslategray;
}
